[submodule "tk2_arm"]
	path = tk2_arm
	url = https://github.com/tinkerfuroc/tk2_arm.git
[submodule "tk2_vision"]
	path = tk2_vision
	url = https://github.com/tinkerfuroc/tk2_vision.git
[submodule "k2_client"]
	path = k2_client
	url = https://github.com/tinkerfuroc/k2_client.git
[submodule "tk2_navigation"]
	path = tk2_navigation
	url = https://github.com/tinkerfuroc/tk2_navigation.git
[submodule "tk2_common"]
	path = tk2_common
	url = https://github.com/tinkerfuroc/tk2_common.git
[submodule "tk2_mission"]
	path = tk2_mission
	url = https://github.com/tinkerfuroc/tk2_mission.git
[submodule "tk2_control"]
	path = tk2_control
	url = https://github.com/tinkerfuroc/tk2_control
[submodule "tk2_audio"]
	path = tk2_audio
	url = https://github.com/tinkerfuroc/tk2_audio.git
[submodule "third_party/pocketsphinx"]
	path = third_party/pocketsphinx
	url = https://github.com/mikeferguson/pocketsphinx
